name: Validação de Imagens de Container

on:
  workflow_dispatch: 
    inputs:              #Criar o imput para passar a imagem
      docker_image:      #nome do meu imput
        description: Buscar imagem  #descricao
        required: false
        default: ubuntu:latest      
        type: string


jobs:
  docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - name: Docker PULL
        run: |
          docker pull ${{github.event.inputs.docker_image}}

      - name: Docker Image
        run: |
          IMAGE_NAME=$(echo "${{github.event.inputs.docker_image}}" | cut -d ':' -f 1)
          docker images | grep ${{github.event.inputs.docker_image}} || true

    
      - name: Docker Scout
        id: docker-scout
        uses: docker/scout-action@v1
        with:
          command: cves,recommendations,compare
          image:  ${{github.event.inputs.docker_image}}
          only-severities: critical, high

    
      










